<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easy.demo">

    <application>
        <activity android:name=".ui.debug.DebugActivity" />
        <activity android:name=".ui.status_bar.StatusBarActivity" />
        <activity
            android:name="com.easy.demo.ui.transparent.TransparentActivity"
            android:theme="@style/transparent" />
        <activity android:name=".ui.recycleview.TestRecycleViewActivity" />
        <activity android:name=".ui.loadimage.LoadImageActivity" />
        <activity android:name=".ui.dialog.DialogActivity" />
        <activity android:name=".ui.wechat.TestWeChatActivity" />
        <activity android:name=".ui.eoschain.EosChainActivity" />
        <activity android:name=".ui.fragment.TestFragmentActivity" />
        <activity android:name=".ui.testweb.TestWebActivity"/>
        <activity android:name=".ui.qrcode.TestQrCodeActivity"/>
        <activity android:name=".ui.lottie.TestLottieActivity"/>
        <activity
            android:name=".ui.player.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>
</manifest>
