<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easy.aidl">

    <application>

        <service
            android:name=".AIDLService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.easy.aidl.action" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>
